
@{
    ViewBag.Title = "ResultOfTest";
}

<body>
    <h2>Result Of Test</h2>
    <p align ="center" ><font size="8">Test completed successfully</font></p>
    <hr />
    <p align="center"><font size="8">Your result @ViewBag.Res %</font></p>
    </body>
