
@{
    ViewBag.Title = "ResultOfTest";
}




<h2>ResultOfTest</h2>
<body>
    
    <p align ="center" ><font size="8">Тест успешно завершен</font></p>
    <hr />
    <p align="center"><font size="8">Ваш результат @ViewBag.Res %</font></p>
    </body>
