@model DistanceLearning.Web.Models.Course
@{
    ViewBag.Title = "Добавить курс";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/CRUD.css" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row col-md-12">
            <div class="head_page">
                <p><h2>Add Course</h2></p>
                @using (Html.BeginForm("Add", "Courses", FormMethod.Post))
                {
                    <input type="hidden" name="LectorEmail" value="@ViewBag.LectorEmail" />
                    <p style="margin-left:28px;">Course name&ensp;@Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "input-style" } })</p>
                    <p>Number of hours&ensp;@Html.EditorFor(m => m.Hours, new { htmlAttributes = new { @class = "input-style" } })</p>
                    <input class="btn btn-success" type="submit" value="Add course" />
                }
            </div>
        </div>
    </div>
</body>
</html>