.head_text{
    background-color:#222222;
    color:#ffffff;
    text-align:center;
    font-family:'Poiret One',cursive;
    font-size:20px;
    padding-top:30px;
    padding-bottom:20px;
}
.list_lesson{
    background-color:#ffffff;
    color:#222222;
    text-align:center;
    font-family:'Poiret One',cursive; 
    font-size:20px;
    padding-top:30px;
    padding-bottom:30px;
    box-shadow:rgba(0, 0, 0, 1) 0 0 10px;
   
}
.list_test{
      background-color:#ffffff;
    color:#222222;
    text-align:center;
    font-family:'Poiret One',cursive;
    font-size:20px;
    padding-top:30px;
    padding-bottom:20px;
    box-shadow:rgba(0, 0, 0, 1) 0 0 10px;
}
h1,h2,h3,h4,h5,h6{
    font: bold;
    font-family:'Poiret One',cursive;
}
.test_head{
    background-color:#ffffff;
    color:#222222;
    text-align:center;
    font-family:'Poiret One',cursive;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;
    box-shadow:rgba(0, 0, 0, 1) 0 0 10px;
}
textarea{
    margin-left:50%;
    text-align:left;

}