@{
    Layout = null;
}
<p>Об уроке</p>
<table>
        <tr>
            <td><p>@ViewBag.OneLesson.Id</p></td>
            <td><p>@ViewBag.OneLesson.Name</p></td>
            <td><p>@ViewBag.OneLesson.Information</p></td>
        </tr>
    
    <!--
    -->
</table>
<!--Переход на редактирование-->
@using (Html.BeginForm("ViewLessonEdit", "Lesson", FormMethod.Post))
{
    <input type="hidden" name="id_lesson" value="@ViewBag.OneLesson.Id" />
    <input type="submit" value="Редактироват" />

} 