
@{
    Layout = null;
}
%ИМЯ_КУРСА%
<p>Добавление урока</p>
@using (Html.BeginForm("Add", "Lesson", FormMethod.Post))
{
    <!--ID можно не заполнять-->
    <!--<input type="text" name="Id" />-->
    <input type="text" name="Name" />
    <input type="text" name="Information" />
    <input type="submit" value="Добавить" />
   
} 